html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 100%;
  height: 100%;
  overflow: hidden;
}

.Loop {
  position: relative;
  height: 600px;
  width: 420px;
  margin: auto;
  overflow-y: hidden;
}

section {
  position: relative;
  text-align: center;
  height: 500px;
}

.Loop::-webkit-scrollbar {
  display: none;
}

.red {
  background: #FF4136;
}
.green {
  background: #2ECC40;
}
.blue {
  background: #0074D9;
}
.orange {
  background: rebeccapurple;
}

h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 80px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}
